<table class = roomsTable>
<tr>
<td><b>Room</b></td>
<td><b>Owner</b></td>
<td><b>Members</b></td>
<td><b>Posts</b></td>
<td><b>Last post</b></td>
<td></td>
<td></td>
</tr>
<% @rooms.each do |room| %>
  <tr>
    <td><%= room.name %></td>
    <td><%= room.owner.name %></td>
    <td><%= room.members.size %></td>
    <td><%= room.posts.size %></td>
    <% if room.posts.last != nil %>
      <td><%= room.posts.last.created_at.strftime("%d.%m.%Y %H:%M:%S") %></td>
    <% else %>
       <td></td>
    <% end %>
    <% if room.members.include?(@user) %>
      <td><%= link_to 'Enter', room %></td>
    <% else %>
       <td></td>
    <% end %>
    <% if room.owner == @user %>
      <td><%= link_to 'Delete', room, method: :delete, data: { confirm: 'Are you sure? The room will be deleted permanently.' } %></td>
    <% elsif room.members.include?(@user) %>
     <td><%= link_to 'Unjoin', kick_room_path(room, :user_id => @user.id), method: :delete, data: { confirm: 'Are you sure you want to unjoin from the room?' } %></td>
    <% else %>
       <td><%= link_to 'Join', join_room_room_path(room) %></td>
    <% end %>
  </tr>
<% end %>
</table>


